<form role="form">
  <div class="form-group">
    <label for="neptun">Adja meg a neptun kódját!</label>
    <input type="text" class="form-control" id="neptun">
  </div>
  <div class="form-group">
    <label for="pwd">Adja meg a jelszavát:</label>
    <input type="password" class="form-control" id="pwd">
  </div>
    <button type="submit" class="btn btn-default" href="/login">Submit</button>
</form>