<!DOCTYPE html>
<HTML>
  <HEAD>
    <meta charset="utf-8">
    
    <title>Tárgyfelvétel</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">-->
  </HEAD>
  <BODY>
    <div class="container">
      <ul class="nav nav-pills">
          <li><a href="/">Főoldal</a></li>
          {{#if loggedIn}}
            <li><p class="navbar-text">Üdv, {{user}}!</p></li>
            <li><a href="#">Kijelentkezés</a></li>
          {{else}}
            <li><a href="/login">Bejelentkezés</a></li>
            <li><a href="/registration">Regisztráció</a></li>
          {{/if}}
          <li><a href="/subjects/list">Tárgyfelvétel</a></li>
          <li><a href="/subjects/new">Új Tárgy hozzáadása</a></li>
          <li><a href="/about">Rólunk</a></li>
      </ul>
      <div class="row">
          {{{body}}}
      </div>
    </div>    

  </BODY>
      <!--<script src="/js/bootstrap.min.js"></script>-->
</HTML>