<form role="form">
<div class="form-group">
  <label for="neptun">Adja meg a haszn치latos neptun k칩dj치t!</label>
  <input type="text" class="form-control" id="neptun">
</div>
<div class="form-group">
  <label for="pwd">Adja meg a jelszav치t:</label>
  <input type="password" class="form-control" id="pwd">
</div>
</form>